table {
  width: 100%;
  color: white;
  margin-top: 24px;
  border-collapse: collapse;
  background: #131b2a;
  border-radius: 16px;
  overflow: hidden;
}

th,
td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #2a3345;
}

th {
  background: #1f2937;
}
